<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingao.app190806.springmvc190806.mapper.App_GoodsInfo_Mapper">
  
  <select id="getGoodsInformations" resultType="map">
  	
	SELECT goods.gdid,goods.gdname,img.gimgurl FROM  goodsinfo goods JOIN goodsimage img ON goods.gdid=img.gdid
    	WHERE img.gimgtype=1 and goods.gdid &lt;= 100
  </select>
  
</mapper>